@import "tailwindcss";
@plugin "daisyui";

/* Animaci칩n banner loco */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in-up {
  animation: fadeInUp 0.5s ease-out forwards;
}

/* Animaci칩n para el carrusel infinito */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%); /* Se mueve hasta la mitad (donde empieza la copia) */
  }
}

.animate-infinite-scroll {
  animation: scroll 20s linear infinite; /* 20s es la velocidad (m치s alto = m치s lento) */
}